DB_HOST=localhost
DB_PORT=5434
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=root
LLM_PROVIDER=mock

GEMINI_API_KEY=<GEMINI_API_KEY>
GEMINI_MODEL=<GEMINI_MODEL>
LLM_LOG_EXCHANGES=<TRUE/FALSE>

CRYPTOPANIC_AUTH_TOKEN=
PREDICTION_ASSETS=BTC/USD,ETH/USD,SOL/USD,LINK/USD
MIN_RAG_EVENTS=500
OHLC_TRAINING_LOOKBACK_DAYS=365
